:root{
  --background: #ffffff;
  --navbar:#0D0106;
  --banner: #ffffff;
  --text: #0D0106;
  --links: #ffffff;
  --button: orange;
  --title: white;
  --emphasis: #000000;
}
body{
  margin:0px;
}
.wrapper{
  display:flex;
  flex-direction:column;
  width:100%;
  height:200vh;
  justify-content:flex-start;
  background-color:var(--background);
}

.navbar{
  display:flex;
  background-color:var(--navbar);
  height:5vh;
  width:100%;
  margin:0px;
  justify-content:space-around;
  align-items:center;
  margin-bottom:-10vh;
  position:sticky;
  top:0;
  z-index:1;
}
.navbar-item{
  opacity:100%;
}
.link{
  color:var(--links);
}

.banner{
  height:60vh;
  width:100%;
  background-color:var(--banner);
  position:relative;
}

.banner-button{
  right:0;
  margin-right:10vw;
  top:40vh;
  padding:3vh;
  border-radius:100px;
  background-color:var(--button);
  position:absolute;
}

.banner-text{
  color:var(--emphasis);
  font-size:5vh;
  font-weight:bold;
  left:10vw;
  top:10vw;
  margin-right:20vw;
  position:absolute;
}

.para{
  margin-left:10vw;
  margin-right:10vw;
}

h1.para{
  border-bottom:solid var(--button);
  height:6vh;
  width:17vw;
  white-space:nowrap;
}
.title{
  color:var(--title);
}
a.button{
  color:var(--text);
}
a:visited{
  color:var(--text);
}
