@media only screen and (max-width: 1000px) {

.links{

}
.header{
}
/* (A) BREAK INTO VERTICAL MENU */
#hamitems{
  position:absolute;
  height:70vh;
  width:90vw;
  background-color:#F3F3F4;
  top:16vh;
  left:0;
  flex-direction: column;
  justify-content: space-around;
  display:flex;
}
#hamitems a {
  box-sizing: border-box;
  display: block;
  width: 10vw;
  white-space: nowrap;
  border-bottom: 1vh solid #D3A15F;
  font-size:6vh;
}
/* (B) SHOW HAMBURGER ICON */
#hamnav label {
  display: inline-block;
  font-size: 7vh;
  padding: 10px;
}

/* (C) TOGGLE SHOW/HIDE MENU */
#hamitems a {visibility:hidden; opacity:0; transition: opacity 0.4s ease;}
#hamnav input:checked ~ #hamitems a { visibility:visible; opacity:1; transition: opacity 0.4s ease;}
#hamitems {visibility:hidden;}
#hamnav input:checked ~ #hamitems { visibility:visible;}

.pin1 {

}

input{
  display:none;
}
.mobilehidden{
  display:none;
}

.mobileshown{
  display:block;
}
.banner{
  flex-direction: column;
  align-items: center;
}

.catchy-text{
  width:100%;
  font-size:3vw;
}

.banner-image-container{
  width:100%
}

.banner-image{
  width:100%;
}

.about-us{
  flex-direction: column;
  flex-wrap:nowrap;
  height:auto;
  min-height:80vh;
}

.aboutsection{
  width:100%;
  font-size:40px;
  margin-top:2vh;
  height:100%;
  padding:0;

}

.aboutimage{
  width:100%;
  max-width:none;
  min-height:auto;
  max-height:22vh;
  height:100%;
  padding:0;
}

.teamcontainer{
  flex-direction:row;
}
.headshot{
  width:18vh;
  height:18vh;
}
.teammember{
  height:30vh;
  width:30vw;
}
.teammember p{
  font-size:2vw;
}
.desctext{
  width:27vw;
}
.description h2{
  margin-top:-1vh;
  font-size:2vh;
}
.description h1{
  font-size:2.5vh;
}
.sidebuttons{
  flex-direction:column;

}
.sidehalf{
  width:100%;
}
.circlebutton{
  height:30vh;
  width:30vh;
  line-height:32vh;
  font-size:20vh;
}
.getintouchblock{
  height:auto;
  min-height:120vh;
  font-size:30px;
}

.footer ul{
  margin-top:0;
}
.footer{
  font-size:28px;
  max-height:none;
  width:98%;
  padding:1%;
}

}
