@media only screen and (max-width: 1000px) {

.mobilehidden{
  display:none;
}

.mobileshown{
  display:block;
}
.banner{
  flex-direction: column;
  align-items: center;
}

.catchy-text{
  width:100%;
  font-size:3vw;
}

.banner-image-container{
  width:100%
}

.banner-image{
  width:100%;
}

.about-us{
  flex-direction: column;
  flex-wrap:nowrap;
  height:auto;
  min-height:80vh;
}

.aboutsection{
  width:100%;
  font-size:24px;
  margin-top:2vh;
}

.aboutimage{
  width:100%;
  max-width:none;
  min-height:auto;
  max-height:20vh;

}

.teamcontainer{
  flex-direction:column;
  flex-wrap:nowrap;
}
.headshot{
  width:13vh;
  height:13vh;
}
.teammember{
  height:20vh;
}
.teammember p{
  font-size:1.6vw;
}
.desctext{
  width:27vw;
}
.description h2{
  margin-top:-1vh;
}
.sidebuttons{
  flex-direction:column;

}
.sidehalf{
  width:100%;
}
.circlebutton{
  height:30vh;
  width:30vh;
  line-height:30vh;
  font-size:20vh;
}
.getintouchblock{
  height:auto;
  min-height:120vh;
  font-size:30px;
}

.footer ul{
  margin-top:0;
}
.footer{
  font-size:28px;
  max-height:none;
  width:98%;
  padding:1%;
}
.teamheader{
  height:3vh;
}
}
